<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The secret Book Club</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <footer>
      <div class="logo">
        <div class="logo Img">
          <img src="logo.png" alt="book" />
        </div>
        <div>
          <h1 class="name" style="font-size: 15px">
            © <%= new Date().getFullYear() %> Company, Inc
          </h1>
        </div>
      </div>
    </footer>
  </body>
</html>
